<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.distributedlife.theweekbefore.base"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="19"/>
    <application>
        <activity android:name=".DictionaryMenu"/>
        <activity android:name=".FindWords"/>
        <activity android:name=".ViewWord"/>
        <activity android:name=".WordList"/>
        <activity android:name=".Revealed"/>
        <activity android:name=".Done"/>
        <activity android:name=".NewCard"/>
        <activity android:name=".ReviewWord"/>
        <activity android:name=".DisplayWikiPage"/>
    </application>
</manifest>
